.painel-superior {
    -fx-background-color: #054584;
}

.btn-laranja {
    -fx-background-color: #e4891b;
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
}

.btn-laranja:hover {
    -fx-background-color: #ba7119;
}

/* ======================================================
   BOTÃO DO OLHO (COM TAMANHO FIXO PARA NÃO SUMIR)
   ====================================================== */
.btn-olho {
    -fx-background-color: #e4891b;
    -fx-cursor: hand;

    /* DEFINIÇÃO DE TAMANHO (Impede o botão de encolher/sumir) */
    -fx-pref-width: 35px;
    -fx-min-width: 35px;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;

    /* IMAGEM DO OLHO FECHADO */
    -fx-background-image: url("../imagens/olho-aberto.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 18px 18px; /* Tamanho do ícone dentro do botão */
}

.btn-olho:hover {
    -fx-background-color: #ba7119;
}

/* QUANDO O BOTÃO É CLICADO (OLHO ABERTO) */
.btn-olho:selected {
    -fx-background-image: url("../imagens/olho-fechado.png");
}