.btn-padrao {
    -fx-background-color:  #aecae6;
    -fx-background-radius: 10;
    -fx-pref-width: 185;
    -fx-pref-height: 40;
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-text-alignment: left;
}

.btn-padrao:hover{
    /*
       Parâmetros do dropshadow:
       - three-pass-box: algoritmo de blur suave
       - rgba(0,0,0,0.4): cor preta com 40% de opacidade
       - 10: raio do blur (espalhamento)
       - 0.5: quanto a sombra se espalha além do blur
       - 5: deslocamento em X (move para a direita)
       - 5: deslocamento em Y (move para baixo)
    */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 5, 5);
}

.btn-click {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 5, 5);
}

.btn-sair{
    -fx-background-color: #00008B;
    -fx-background-radius: 10;
    -fx-pref-width: 70;
    -fx-pref-height: 20;
    -fx-font-family: "Arial";
    -fx-font-size: 13;
    -fx-text-fill: with;
    -fx-cursor: hand;
    -fx-text-alignment: center;
}
.btn-padrao-transparent {
    -fx-background-color:  transparent;
    -fx-background-radius: 10;
    -fx-pref-width: 185;
    -fx-pref-height: 40;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-text-alignment: left;
}
.btn-padrao-transparent:hover { /*botão configuração
    /*
       Parâmetros do dropshadow:
       - three-pass-box: algoritmo de blur suave
       - rgba(0,0,0,0.4): cor preta com 40% de opacidade
       - 10: raio do blur (espalhamento)
       - 0.5: quanto a sombra se espalha além do blur
       - 5: deslocamento em X (move para a direita)
       - 5: deslocamento em Y (move para baixo)
    */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 5, 5);
}
.btn-padrao-home { /* botão controle de estoque*/
    -fx-background-color:  #aecae6;
    -fx-background-radius: 10;
    -fx-pref-width: 185;
    -fx-pref-height: 40;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-text-alignment: left;
}
.btn-padrao-home:hover {
    /*
       Parâmetros do dropshadow:
       - three-pass-box: algoritmo de blur suave
       - rgba(0,0,0,0.4): cor preta com 40% de opacidade
       - 10: raio do blur (espalhamento)
       - 0.5: quanto a sombra se espalha além do blur
       - 5: deslocamento em X (move para a direita)
       - 5: deslocamento em Y (move para baixo)
    */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 5, 5);
}

.painel-lateral {
    -fx-background-color: #8daccb;
    -fx-border-color: #054584;
    -fx-border-width: 2;
}
.painel-center{
    -fx-border-color: #054584;
    -fx-border-width: 3.5;
}
.painel-superior {
    -fx-background-color: #054584;
}
.btn-sair-adimin {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-pref-width: 50;
    -fx-pref-height: 20;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-border-color: #f3ad50;
    -fx-border-radius: 5;
    -fx-border-width: 0 0 2 0;
}
.btn-sair-adimin:hover {
    /*
       Parâmetros do dropshadow:
       - three-pass-box: algoritmo de blur suave
       - rgba(0,0,0,0.4): cor preta com 40% de opacidade
       - 10: raio do blur (espalhamento)
       - 0.5: quanto a sombra se espalha além do blur
       - 5: deslocamento em X (move para a direita)
       - 5: deslocamento em Y (move para baixo)
    */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 5, 5);
}
